*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding: 0.5px;
}
.header-inner{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav{
    width: 338px;
}
.hedaer-list-link{
    text-decoration: none;
    
}
.nav-library.active{
    opacity: 1;
}
.nav-library{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #25202F;
    opacity: 0.3;
}


.header-list-item{
    /* padding: 0px 10px; */
    text-decoration: none;
}
.header-button{
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0px 10px 5px rgba(198, 185, 233, 0.3);
}
.hedaer-list-link .active{
    opacity: 1;

}
.hero-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-name span{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #666666;

}
.hero-name h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    margin-bottom: 25px;
}
.hero-name p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-bottom: 78px;
}
.hero-name a{
    text-decoration: none;
    display: block;
    padding: 14px 48px;
    background: #8643DC;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.hero-img{
    margin-top: -71px;
}
.hero-name{
    margin-right: 141px;
}
.services-title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    width: 68px;
    margin-bottom: 10px;
}
.services-line{
    /* position: absolute; */
    width: 50px;
    height: 2px;
    left: 165px;
    top: 802px;
    background: #8643DC;
    margin-bottom: 15px;
}
.services-text{
    font-style: normal;
    font-weight: bold;
    /* font-size: 36px;
    line-height: 48px; */
    color: #25202F;
    margin-bottom: 50px;
    width: 246px;
    height: 96px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

}
.services-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-box-item{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

}
.services-list-item{
    list-style-type: none;
}
.services-list-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-bottom: 35px;
}
.services-list-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
    width: 350px;
    margin-bottom: 150px;
}
.service-list-img{
    margin-left: 20px;
    
}
.portfolio-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfoli-top h2{
    width: 204px;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 30px;
    /* width: 204px;
    height: 96px; */

}
.porfolio-link{
    width: 127px;
    color: #47444E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 13px; */
}
.porfolio-vector-img{
    
}
.porfolio-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 168px;
}
.portfolio-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}



.clients-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.clients-info{
    margin-bottom: 44px;
}
.clients-block-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients-item{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    padding: 33px 45px;
}
.clients-link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}
.clients-link b{
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
    box-sizing: border-box;
    border-radius: 10px;
}
.blog-info{

}
.blog-list{
    width: 900px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-item{
    width: 255px;
    height: 350px;
    overflow: hidden;

}
.blog-list-inner{
    transition: all 0.5s esse;
}
.blog-item:hover{

}
.blog-item:hover .blog-list-inner{
    margin-top: 100px;
}
.blog-list-inner time{
    font-weight: bold;
    color: #FFF;

}
.blog-list-inner p{
    font-weight: bold;
    color: #FFF;

}
